<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MVC Tech Blog</title>
    {{! <link rel="stylesheet" href="/stylesheets/style.css" /> }}
    <link rel="stylesheet" href="/stylesheets/blog.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  </head>

  <body class="d-flex flex-column h-100 vsc-initialized">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">MVC Tech Blog</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link "
                  aria-current="page"
                  href="/dashboard"
                >Dashboard</a>
              </li>
              <li class="nav-item">
                {{#if loggedIn}}
                  <a
                    class="nav-link "
                    aria-current="page"
                    href="/logout"
                    id="logout"
                  >Logout</a>
                {{else}}
                  <a
                    class="nav-link "
                    aria-current="page"
                    href="/login"
                  >Login</a>
                {{/if}}
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="flex-shrink-0">
      <div class="container">
        {{{body}}}
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        Welcome to MVC blog!
      </div>
    </footer>

    {{!-- <div class="wrapper">
      <header>
        <div>
          <nav>
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            {{#if loggedIn}}
              <a href="/" id="logout">Logout</a>
            {{else}}
              <a href="/login">Login</a>
            {{/if}}
          </nav>
        </div>
        <div>
          <h1 class="home-title">MVC Tech Blog</h1>
        </div>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Welcome to MVC blog!
      </footer>
    </div> --}}

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/blog.js"></script>
  </body>

</html>